/*
 Theme Name:     WSU Brand
 Theme URI:      http://brand.wsu.edu
 Description:    A set of standard, customizable templates for official Washington State University websites
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Template:       spine
 Version:        0.0.1
*/

@import url("../spine/style.css");


