/*
 Theme Name:     WSU Brand
 Theme URI:      http://brand.wsu.edu
 Description:    A set of standard, customizable templates for official Washington State University websites
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Template:       spine
 Version:        0.0.1
*/

@import url("../spine/style.css");

html {
	font-size: 13px;
	}

body {
	color: #5e6a71;
	font-size: 13px;
	line-height: 20px;
	background: white;
	}
main {
	background: 
		url('/wp-content/themes/brand/images/elements/main-background-bottom-lighter.png') left bottom no-repeat,
		url('/wp-content/themes/brand/images/elements/main-background-lighter.png') left top repeat-y;
	padding-bottom: 150px;
	}
main p {
	line-height: 1.6em;
	}
	
h6,h5,h4,h3,h2,h1,big,dt,header,dd a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal
	}
a, a:link, a:visited:hover, button { color: #C69214; color: #ADA400; }

a:visited {	color: #77580C; color: #8F7E35;	}
a:hover,button:hover { color: #77580C; color: #8F7E35; }

main ul li {
	list-style: disc;
	}
.row .column article {
	padding: 0px;
	}
.alternate {
	background-color: #EFF0F1;
	}
article.intro,
p.intro {
	font-size: 1.1rem;
	line-height: 1.5em;
	}
figure {
	width: 100%;
	}

button {
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5BABE;
	background: white;
	text-shadow: none;
	width: 80px;
	font-weight: normal;
	font-size: 1rem;
	}
button.brand-wider,
dl.downloads dd:only-of-type a.brand-wider,
a.brand-wider {
	width: 100px;
	}
button:hover {
	color: white;
	background-color: #ADA400;
	border-color: #ADA400;
	}

/* Blog */
.column article.post {
	padding: 2rem 0rem 2rem 4rem;
	}
.column article.post ~ article.post {
	padding: 0rem 0rem 2rem 4rem;
	}
.article-header cite {
	display: none;
	}
.article-footer .categorized dt:after {
	content: "categorized as";
	}
	
/* Details */
div.details {
	display: none;
	padding-bottom: 20px;
	}
html.no-js div.details {
	display: block;
	}
xxmain .details hr:first-child {
	margin-bottom: 3em;
	}
.detailed .details {
	display: block;
	}
button.detail {
	color: #8F7E35;
	color: #ADA400;
	border: none;
	background: transparent;
	width: 100%;
	text-align: right;
	position: relative;
	overflow: visible;
	font-weight: normal;
	padding: 2rem 0px;
	padding-right: 25px;
	background: url('/wp-content/themes/brand/images/elements/plus-green-er.svg') right center no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
button.detail::before,
button.detail:hover,
button.detail:focus,
button.detail:active {
	background-image: url('/wp-content/themes/brand/images/elements/plus-green.svg');
	}
button.detail:hover {
	color: #8f7e35;
	}
.detailed button.detail {
	background-image: url('/wp-content/themes/brand/images/elements/x-green-er.svg');
	}
.size-lt-xlarge button.detail {
	border-right: 2rem transparent solid;
	}
	
button.detail header h2 {
	padding: 0;
	}
button.detail:hover header h2,
button.detail:focus header h2,
button.detail:active header h2 {
	color: #8f7e35;
	}

button:focus {
	outline: none;
	}

article :not(p) big {
	font-size: 1.2em;
	line-height: 1.6em;
	padding-bottom: 1.3em;
	display: block;
	}

/* Main Headers */
.main-header sub:before {
	content: attr(data-pagetitle);
	display: block;
	}
body:not(.category) .sup-header-default,
body:not(.category) .sub-header-default {
	display: none;
	}
.main-header {
	left: 0;
	height: 5rem;
	overflow: hidden;
	background-color: #5e6a71;
	padding: 0px;
	position: relative;
	z-index: 99164;
	height: 5rem;
	}
.main-header .header-group {
	bottom: 7px;
	position: absolute;
	left: 0;
	padding-left: 3.9rem;
	width: 2000px;
	background: #5e6a71;
	display: block;
	padding-bottom: 0;
	}
.size-lt-large .main-header .header-group {
	left: 0px;
	}
body:not(.category) .main-header sup {
	display: none;
	}
.main-header sub:not(.x):not(.y):not(.z) {
	/* :not pseudo classes do add minimal specificity. grrr. */
	text-transform: lowercase;
	font-size: 5rem;
	line-height: 1em;
	letter-spacing: -5px;
	padding-bottom: 5px;
	padding-left: 0;
	}
body:not(.category) .main-header sub {
	display: block;
	}
.main-header sub,
.main-header sub a,
.main-header sub:hover {
	color: #464f54 !important;
	}

main article { 
	padding: 0px 2rem;
	}
.spine-page-default .side-right article {
	padding: 0em;
	}
.spine-page-default .side-right .column {
	padding: 1rem 4rem 4rem 4rem;
	}
.spine-page-default .side-right > .column:first-child {
	padding-top: 4rem;
	}
.spine-page-default section:first-of-type .column.one {
	padding-top: 9.5rem;
	}
.column.nav-top {
	padding-top: 9.5rem !important;
	}

main h2 {
	color: #568a90;
	}
main h2 small {
	color: #5e6a71;
	font-size: 1rem;
	}
main h3 {
	color: #568a90;
	font-size: 1.2rem;
	line-height: 1.3em;
	}
main h4 {
	color: #4F868E;
	font-size: 1.1rem;
	line-height: 1.3em;
	padding-bottom: .3rem;
	padding-top: .6rem;
	}
main h2:not(.not-lowercase),
main h3:not(.not-lowercase),
main h4:not(.not-lowercase),
main h5:not(.not-lowercase) {
	text-transform: lowercase;
	}
main h5 {
	font-size: 1.1rem;
	line-height: 1.2em;
	padding-bottom: .3rem;
	padding-top: .6rem;
	}
body.page .article-title {
	display: none;
	}

.intro big,
p big {
	color: #4F868E;
	font-size: 1.6rem;
	font-weight: bold;
	font-weight: normal
	line-height: 1em;
	}


.column aside.striped {
	text-align: center;
	padding: 50px 60px;
	font-style: italic;
	font-size: 1.4rem;
	
	}
.column aside.striped,
.column aside.striped p {
	line-height: 1.3em;
	}
.column aside.striped p {
	padding-bottom: .5rem;
	}
blockquote {
	margin-left: 2rem;
	}

blockquote,
.column aside.striped,
samp {
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
	}
.column aside.striped strong {
	display: block;
	color: #981e32;
	font-style: normal;
	font-size: .9em;
	font-family: "Lucida Grande","Lucida Sans Unicode", "Arial", sans-serif;
	}

samp {
	color: #8F7E35;
	color: #B67233;
	}
/* Why isn't this working? */
main small, main p small {
	line-height: .5em;
	}
	
dl.downloads {
	width: 100%;
	}
dl.downloads dt {
	color: #4F868E;
	font-weight: normal;
	font-size: 1rem;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 5px 0px 10px 0px;
	}
aside dl.downloads dd {
	border: none;
	}
dl.downloads dd {
	width: 48%;
	margin-bottom: 14px;
	text-align: right;
	padding-right: 6px;
	box-sizing: border-box;
	}
dl.downloads dd:nth-of-type(even) {
	text-align: left;
	padding-left: 6px;
	padding-right: 0px;
	}

dl.downloads dd a,
a.brand-button {
	width: 75%;
	color: #ADA400;
	display: inline-block;
	background: white;
	border: 1px #B5BABE solid;
	padding: 3px 6px;
	text-align: center;
	white-space: nowrap;
	}
a.brand-button {
	display: inline-block;
	width: 5.75rem;
	}
dl.downloads dd a:hover,
a.brand-button:hover {
	color: white;
	background: #ADA400;
	border-color: #ADA400;
	}
dl.downloads dd:only-of-type {
	width: 100%;
	text-align: center;
	}
dl.downloads dd:only-of-type a {
	width: 80px;
	margin: 0px auto;
	}

main hr {
	margin: 1rem 2rem;
	height: 1px;
	display: block;
	clear: both;
	}

main .padded .column hr {
	margin: 1rem 0;
	}

main .wide hr {
	margin-top: 0;
	margin-left: 4rem;
	margin-right: 4rem;
	}	
article .unbound.recto {
	margin-left: -4rem;
	}
article .unbound.recto .rebound {
	padding: 4rem;
	margin: 3rem 0px;
	}

.em-15 { font-size: 1.5rem; }
.em-2 { font-size: 2rem; }
.em-25 { font-size: 2.5rem; }
.em-3 { font-size: 3rem; }
.em-35 { font-size: 3.5rem; }

/* Big Captions */

figcaption {
	font-size: 100px;
	letter-spacing: -7px;
	font-weight: bold;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 1em;
	position: absolute;
	left: 30px;
	bottom: -13px;
	color: white;
	}
.size-lt-medium figcaption {
	font-size: 64px;
	letter-spacing: 0px;
	line-height: 1em;
	bottom: -8px;
	}
figcaption big {
	font-size: 1em;
	font-weight: bold;
	}

/* Adjustments */

.size-lt-medium .pad.wide .column:nth-of-type(1n+1) {
	padding: 2rem;
	}
.size-lt-medium .gutter.wide .column:nth-of-type(1n+1) {
	padding-left: 2rem;
	padding-right: 2rem;
	}
	
/* Blog */
.categorized dt {
	display: none;
	}
	
/* Sections */

.page-style .column ul {
	padding-left: 0;
	padding-right: 0;
	}

/* Pages */

.page-id-341 main h2 {
	text-transform: none;
	}

.page-id-21 main section {
	background:
	url('/wp-content/themes/brand/images/pages/print/brochures.png') 95% top no-repeat,
	url('/wp-content/themes/brand/images/pages/print/pieces.png') 15px bottom no-repeat;
	}
.page-id-21 .size-lt-medium main section {
	background: url('/wp-content/themes/brand/images/pages/print/pieces.png') 15px bottom no-repeat;
	}
.page-id-21 main section:first-of-type .column.one {
	padding-bottom: 730px; padding-right: 6rem;
	}
.page-id-21 article ul li { padding-bottom: .2rem; }

.page-id-24 main section { background:	url('/wp-content/themes/brand/images/pages/misc/presentations.png') 65% -15px no-repeat; min-height: 800px; }
.page-id-24 main section .column.one { padding-top: 100px; }

.page-id-27 main section { background:	url('/wp-content/themes/brand/images/pages/misc/schwag.png') 60% -15px no-repeat }
.page-id-27 main section .column.one { xxpadding-top: 85px; min-height: 700px; }

/* FAQ */
.page-id-90 main section:first-of-type {
	background: url('/wp-content/themes/brand/images/pages/misc/qa.png') 70% 0px no-repeat;
	}
.page-id-90 main section:first-of-type .column.one {
	padding-top: 260px;
	}
.page-id-90 main dl {
	margin-left: -2rem;
	}
body[class*="faq"] main dl h4,
.page-id-90 main dl h4 {
	min-height: 3rem;
	height: 3rem;
	display: table-cell;
	vertical-align: middle;
	padding: 0px;
	}
.page-id-90 dl:nth-of-type(odd) {
	background-color: #EFF0F1;
	background-color: #f4f4f5;
	}
body[class*="faq"] dl dt,
.page-id-90 dl dt {
	background: url('/wp-content/themes/brand/images/elements/plus-green-er.svg') 95% center no-repeat;
	max-width: 792px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 20em;
	display: block;
	margin-left: 4rem;
	}
body[class*="faq"] dl dt:hover,
.page-id-90 dl dt:hover {
	cursor: pointer;
	}
body[class*="faq"] dl dt h4,
.page-id-90 dl dt h4 {
	text-transform: none;
	}
body[class*="faq"] dl dt:hover h4,
.page-id-90 dl dt:hover h4 {
	color: #8f7e35;
	}
.page-id-90 dl.disclosed dt {
	background-image: url('/wp-content/themes/brand/images/elements/x-green-er.svg');
	}
body[class*="faq"] dl dd,
.page-id-90 dl dd {
	display: none;
	padding-right: 20rem;
	padding-bottom: 3rem;
	margin-left: 4rem;
	}
.page-id-90 .size-lt-medium dl dt,
.page-id-90 .size-lt-medium dl dd {
	padding-right: 4rem;
	}
	
.page-id-101 main section .column.one { padding-top: 95px; }
.page-id-101 main section { background:	url('/wp-content/themes/brand/images/pages/misc/social.png') 85% -55px no-repeat }
	
.page-id-103 .size-gt-small main section .column.two { background:	url('/wp-content/themes/brand/images/pages/video/emotion.png') 0 -5px no-repeat; min-height: 600px; }

.page-id-105 .size-gt-small .column.two { background:	url('/wp-content/themes/brand/images/pages/misc/sign.png') 0 -15px no-repeat; height: 600px; }

/* Print */

.print div.affixed,
.print .main-header.sticky {
	position: relative !important;
	left: 0 !important;
	}
.print main {
	max-width: 792px !important;
	}

@media print {

div.affixed,
.main-header.sticky {
	position: relative !important;
	left: 0 !important;
	}
main {
	
	max-width: 792px !important;
	}

	
	}
