/*
 Theme Name:     WSU Brand
 Theme URI:      https://brand.wsu.edu
 Description:    A set of standard, customizable templates for official Washington State University websites
 Author:         WSU University Communications
 Author URI:     https://ucomm.wsu.edu
 Template:       spine
 Version:        1.4.5
*/
